.form-control:focus, .form-select:focus {
  box-shadow: 0px 0px 7px mediumseagreen;
  border-color: mediumseagreen;
}
.pointer {
  cursor: pointer;
}

.btn-gif {
  width: 20px;
  margin-left: 10px;
}
